<h1>******** Now your result ********</h1>

<p>Your word:<%= @attempt%></p>
<p>Time Taken to answer: <%= @result[:time]%></p>
<p>Translation: <%= @result[:translation]%></p>
<p>Your score: <%=  @result[:score]%></p>
<p>Message:<%= @result[:message]%></p>

<h1>*****************************************************</h1>
